<h1>Stupid Coaching#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
